@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url('src/assets/blob-scene-haikei.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}